@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Inter', system-ui, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  box-sizing: border-box;
}
.dotted-background { 
  background-image: radial-gradient(circle at center, #efefef 2px, transparent 2px);
  background-size: 20px 20px;
  background-color: #f8f8f8;
}


/* Disable number input increment/decrement arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}
